
<section id="home">
  <div class="banner">
    <app-header></app-header>
    <div class="overlay">
      <div class="container d-flex">
        <div class="col-md-7 left">
          <h2>Store, Manage, and Share Your Projects</h2>
          <p class="font-monospace">
            "Project Archiver is a powerful and intuitive platform designed to help individuals
            and teams manage, organize, and store all their projects in one centralized, secure
            location. Whether you're working on personal tasks, academic assignments, or
            professional initiatives, Project Archiver ensures everything stays neatly organized,
            easily accessible, and protected — giving you the confidence and clarity to focus on
            what matters most."
          </p>

        </div>
        <div class="col right">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</section>
