<nav class="navbar navbar-expand-lg" [ngClass]="{'sticky': isSticky}">
  <div class="container">
<!--    <a routerLink="./" class="navbar-brand" href="javascript:void(0)"></a>-->
<!--    <a class="navbar-brand logo-container" href="#">-->
<!--      <img class="logo" src="../../../assets/logo/aadimInnovation.png" alt="logo">-->
<!--    </a>-->
    <button class="navbar-toggler border-none" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <i class="mdi mdi-menu text-light"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Menus</h5>
        <i class="fa-solid fa-xmark" data-bs-dismiss="offcanvas" aria-label="Close"></i>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          <li class="nav-item mx-3">
            <a class="nav-link" [class.active]="activeSection === 'home'"
               (click)="scrollToAnchoringPosition('home')" href="javascript:void(0)">Home</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" [class.active]="activeSection === 'about'"
               (click)="scrollToAnchoringPosition('about')" href="javascript:void(0)">About Us</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" [class.active]="activeSection === 'feature'"
               (click)="scrollToAnchoringPosition('feature')" href="javascript:void(0)">Features</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" [class.active]="activeSection === 'testimonial'"
               (click)="scrollToAnchoringPosition('testimonial')" href="javascript:void(0)">Testimonials</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" [class.active]="activeSection === 'faq'"
               (click)="scrollToAnchoringPosition('faq')" href="javascript:void(0)">FAQs</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" [class.active]="activeSection === 'footer'" routerLink="/signup" f="javascript:void(0)">Signup</a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</nav>
