<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h4 class="mb-4">Project Archiver</h4>
        <p>The ultimate solution for organizing all your projects in one secure place.</p>
        <div class="social-icons mt-3">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-md-2 mb-4 mb-md-0">
        <h5 class="mb-4">Company</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">About</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Careers</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Blog</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Press</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-4 mb-md-0">
        <h5 class="mb-4">Product</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Features</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Pricing</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Security</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-4 mb-md-0">
        <h5 class="mb-4">Support</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Help Center</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Contact Us</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Community</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Status</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="mb-4">Legal</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Privacy</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Terms</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Cookie Policy</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Licenses</a></li>
        </ul>
      </div>
    </div>
    <hr class="mt-4 mb-4 border-light">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">© 2025 Project Archiver. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
