.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 90vh;
  padding: 0 0 20px 0;
}

.login-form {
  width: 350px;
  margin-bottom:20px;
  min-height: 380px;
  // background: rgba(255, 255, 255, 0.3);
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px);
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  // border: 2px solid rgba(255, 255, 255, 0.4);

  .forgot{
    cursor: pointer;
    color: var(--primary-color);
  }
}

.login-form h3 {
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--primary-color);
}

.login-form label {
  margin: 20px 0 0 3px;
  display: block;
  color: var(--primary-color);

}

.login-form input,
.login-form input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-input-container {
  position: relative;
}

.login-form .password-input-container .eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}


.login-form .login-button {
  margin-top: 20px;
  width: 100%;
  padding: 8px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form .login-button:hover {
  background-color: var(--secondary-color);
}

.reset{
  font-size: 0.9rem !important;
  text-decoration: none;
  color: var(--secondary-color);
}
.btn-div{
  display: flex;
  flex-direction: column;

  .login-button{
    margin: 0 0 20px !important;
  }

  small{
    cursor: pointer;
    color: var(--secondary-color);
  }
}

.inner-input-div{
  position: relative;

  .fa-solid{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    color: var(--primary-color);
  }

  input{
    padding-left: 30px !important;
  }
}

.hidden{
  display: none;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    height: 50vh;
    justify-content: center;
  }

  .login-form {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .wrapper {
    width: 100%;
    height: 50vh;
    justify-content: center;
  }

  .login-form {
    width: 90%;
  }
}
